/* styles.css */

.responsive-title {
    font-size: 5rem; /* Default font size */
    line-height: normal;
  }
  
  @media (max-width: 390px) {
    .responsive-title {
      font-size: 1.7rem; /* Adjusted font size for smaller screens */
      line-height: normal;
    }
  }